
 <div class="row justify-content-center form-page">
    <div class="col-md-8">
      <h1>Your Project</h1>
      <%= render './shared/form', project: @project %>
    </div>
  </div>
</div>

<div class="col-6">
<%= link_to 'Back', root_path %>
</div>
