.banner {
  padding-top: 20px;
  margin-bottom: 25px;
  background-size: cover;
  background-position: center;
  height: 300px;
  display: flex;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.banner-container {
  padding: 15px 10px;
  width: 100%;
  color: white;
}

.banner-container h1 {
  font-weight: bold
}

.banner-container .slogan {
  position: absolute;
  right: 20px;
  text-align: right;
  width: 400px;
}

.project-banner {
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 100%;
  display: flex;
  text-align: center;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 15px 10px;
  color: white;
}
