a.btn-menu {
  width: fit-content;
  padding: 10px 15px;
  margin-bottom: 10px;
  border: 1.5px solid black;
  text-decoration: none;
  vertical-align: middle;
  color: black;
  background-color: transparent;
  cursor: pointer;
  &:hover {
    color: white;
    border-color: black;
    background-color: black;
    opacity: 0.5;
  }
}

a.btn-apply {
  width: fit-content;
  padding: 10px 15px;
  margin-bottom: 10px;
  border: 1.5px solid green;
  text-decoration: none;
  vertical-align: middle;
  color: green;
  background-color: transparent;
  cursor: pointer;
  &:hover {
    color: black;
    border-color: green;
    background-color: green;
    opacity: 0.6;
  }
}


a.btn-edit {
  width: fit-content;
  padding: 10px 15px;
  margin-bottom: 10px;
  border: 1.5px solid orange;
  text-decoration: none;
  vertical-align: middle;
  color: orange;
  background-color: transparent;
  cursor: pointer;
  &:hover {
    color: black;
    border-color: orange;
    background-color: orange;
    opacity: 0.6;
  }
}

a.btn-new {
  width: fit-content;
  padding: 10px 15px;
  margin-bottom: 10px;
  border: 2.5px solid #fdc500;
  text-decoration: none;
  font-weight: bold;
  vertical-align: middle;
  color: #fdc500;
  background-color: transparent;
  cursor: pointer;
  &:hover {
    color: black;
    border-color: #fdc500;
    background-color: #fdc500;
    opacity: 0.6;
  }
}
