.footer {
  text-align: center;
  padding: 15px;
  background-color: #2c2b2b;
  // position: absolute;
  // bottom: 0;
  width: 100%;
}

.links p {
  color: white;
  font-size: 14px;
}

.links a {
  color: #67D69A;
  width: 30px;
  font-size: 18px;
}
