// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/candidates";

body {
  margin: 0;
  font-family: Work sans;
}

h1, h2, h3, h4 {
  font-family: Nunito;
}

a {
  text-decoration: none;
}

.container {
  width: 900px;
  margin: 0 auto;
}

.projects-container {
  margin-left: 40px;
  margin-right: 40px;
}

.project-info {
  display: flex;
  justify-content: center;
  text-align: center;
}

.user-profile {
  padding: 20px 14px;
  margin: 12px;
  flex-grow: 1;
}

.user-info {
  width: 600px;
  height: fit-content;
  padding: 20px 14px;
  margin: 12px;
  background-color: #F4F4F4;
  box-shadow: 0px 2px 4px rgba(38, 38, 38, 0.2);
  border-radius: 4px;
  border: 1px solid #F4F4F4;
}
