// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  margin: 0;
  font-family: Work sans;
}

h1, h2, h3, h4 {
  font-family: Nunito;
}

a {
  text-decoration: none;
}

.container {
  width: 900px;
  margin: 0 auto;
}

.links p {
  color: white;
  font-size: 14px;
}

.links a {
  color: #1EDD88;
  width: 30px;
  font-size: 18px;
}

.links .fa-heart {
  color: red;
}
