// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/candidates";

body {
  margin: 0;
  font-family: Work sans;
}

h1, h2, h3, h4 {
  font-family: Nunito;
}

a {
  text-decoration: none;
}

.container {
  width: 900px;
  margin: 0 auto;
}

.projects-container {
  margin-left: 40px;
  margin-right: 40px;
}

.project-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  .user-info {
    padding: 20px 14px;
    margin: 12px;
    width: 300px;
    height: fit-content;
    background-color: #F4F4F4;
    box-shadow: 0px 2px 4px rgba(38, 38, 38, 0.2);
    border-radius: 4px;
    border: 1px solid #F4F4F4;
    text-align: center;
  }
  .user-profile {
    padding: 20px 14px;
    margin: 12px;
    text-align: justify;
    width: 500px;
  }
  .description {
    text-align: justify;
    h3 {
      text-align: center;
    }
  }
}

.evolution {
  padding: 20px 20px;
  margin-top: 12px;
  margin-bottom: 12px;
  height: fit-content;
  background-color: #F4F4F4;
  box-shadow: 0px 2px 4px rgba(38, 38, 38, 0.5);
  border-radius: 4px;
  border: 1px solid #F4F4F4;
  text-align: justify;
}

.applications {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  .candidates {
    position: relative;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  }
  .photo-placeholder {
    position: absolute;
    right: 50px;
    top: 30px;
    width: 70px;
    justify-content: center;
    img {
      border-radius: 50%;
      border: 3px solid white;
    }
  }
  .candidate-choice {
    position: relative;
    text-align: center;
    img {
      border-radius: 50%;
      border: 3px solid white;
    }
  }
}
